@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500;700&family=Lato&display=swap');



* {box-sizing: border-box;}


* a:visited{
    color: inherit;
}
a {text-decoration: none;}

.greenbit {
    
    background: rgb(20, 100, 68);
    width: 100%;
    height: 10px; 
}


 .header  {
    /* border: rgb(175, 16, 69) solid 1px; */
    background: rgba(247, 246, 246, 0.858);
    width: 100%;
   
    height: 105px;
    font-family:'Lato', sans-serif;
    font-size: 14px;
    letter-spacing: 1.5px;
    font-stretch: 100%;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    flex:1
 }

.logo {
    border: solid blue 1px;


}

.header_pages{
    margin-right: 10vh;
}
.header_pages ul li {
    /* border: black solid 1px; */
    padding: 8px 25px;
    display: inline;
    text-decoration: none;
  
 
}

.header_pages ul li:hover {
    background: black;
    color: white;
  
    
}



.headerB {
    /* border: brown solid 1px; */
    text-decoration: none;
    width: 15%;
    margin-left: 8vh;
    margin-top: 2vh;
    align-self: flex-start;
  
}

.images {
    /* border: black solid 1px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    flex: 1;
}



ol li {
    display: inline;
     

}
.social {
/* border: solid pink 4px; */
background: rgba(247, 246, 246, 0.858);
width: 100%;

display: inline;
display: flex;
justify-content: center;
padding-right: 100vh;


}



/* Social Icons to  become a bit lighter when hovered */

.icons ol li img:hover {
    /* border: solid plum 2px; */
    opacity: 0.5;
}

.footer {
    /* border: blueviolet solid 1px; */
    background: rgba(247, 246, 246, 0.858);
    display: flex;
    justify-content: center;
    align-items: center;
}



/*  NO IDEA how to implement the media in this case I copied this from a excercise we did but no idea how to apply it to the clone website */


/* @media all and (max-width: 1000px) {
    .flex-nav ul li {
      width: 50%;
    }
    .flex-nav .social {
      width: 25%;
    }
  }
  
  @media all and (max-width: 500px) {
    .flex-nav ul li {
      width: 100%;
    }
    .flex-nav .social {
      width: 25%;
    } */
